@font-face {
  font-family: "jeicon"; /* Project id 2961022 */
  src: url('iconfont.woff2?t=1641360716623') format('woff2'),
       url('iconfont.woff?t=1641360716623') format('woff'),
       url('iconfont.ttf?t=1641360716623') format('truetype');
}

.jeicon {
  font-family: "jeicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jeicon-workflow-start:before {
  content: "\e6e4";
}

.jeicon-workflow-end:before {
  content: "\e6e3";
}

.jeicon-workflow-branch:before {
  content: "\e6e2";
}

.jeicon-workflow-polymerization:before {
  content: "\e6e1";
}

.jeicon-workflow-candidate:before {
  content: "\e6e0";
}

.jeicon-workflow-free:before {
  content: "\e6df";
}

.jeicon-workflow-judge:before {
  content: "\e6de";
}

.jeicon-workflow-jointly-sign:before {
  content: "\e6dd";
}

.jeicon-workflow-fixedperson:before {
  content: "\e6dc";
}

.jeicon-workflow-random:before {
  content: "\e6db";
}

.jeicon-workflow-manypeople:before {
  content: "\e6da";
}

.jeicon-import:before {
  content: "\e6d9";
}

.jeicon-original-size:before {
  content: "\e6cd";
}

.jeicon-fieldcontrol:before {
  content: "\e6cb";
}

.jeicon-datainterface:before {
  content: "\e6cc";
}

.jeicon-chart-funneldiagram:before {
  content: "\e6ca";
}

.jeicon-chart-dashboard:before {
  content: "\e6c8";
}

.jeicon-chart-pie:before {
  content: "\e6c2";
}

.jeicon-chart-radar:before {
  content: "\e6c0";
}

.jeicon-chart-line:before {
  content: "\e6c4";
}

.jeicon-chart-bar1:before {
  content: "\e6c9";
}

.jeicon-chart-column:before {
  content: "\e6c5";
}

.jeicon-chart-combination:before {
  content: "\e6c6";
}

.jeicon-chart-area:before {
  content: "\e6c7";
}

.jeicon-align-right-s:before {
  content: "\e98e";
}

.jeicon-align-middle-s:before {
  content: "\e98f";
}

.jeicon-align-top-s:before {
  content: "\e990";
}

.jeicon-align-center-s:before {
  content: "\e98b";
}

.jeicon-align-bottom-s:before {
  content: "\e98c";
}

.jeicon-align-left-s:before {
  content: "\e98d";
}

.jeicon-check-circle-s:before {
  content: "\e987";
}

.jeicon-doubt-s:before {
  content: "\e988";
}

.jeicon-circle-fill-s:before {
  content: "\e989";
}

.jeicon-check-square-s:before {
  content: "\e984";
}

.jeicon-switch-open-s:before {
  content: "\e985";
}

.jeicon-switch-down-s:before {
  content: "\e986";
}

.jeicon-select-s:before {
  content: "\e978";
}

.jeicon-return-restore-s:before {
  content: "\e977";
}

.jeicon-custom-s:before {
  content: "\e976";
}

.jeicon-custom:before {
  content: "\e6b9";
}

.jeicon-return-right:before {
  content: "\e975";
}

.jeicon-return-left:before {
  content: "\e973";
}

.jeicon-urge:before {
  content: "\e6b5";
}

.jeicon-return-complaint:before {
  content: "\e971";
}

.jeicon-return-withdraw:before {
  content: "\e970";
}

.jeicon-return-restore-o:before {
  content: "\e96f";
}

.jeicon-thumbnail:before {
  content: "\e6b4";
}

.jeicon-activation:before {
  content: "\e6b2";
}

.jeicon-suspend:before {
  content: "\e6b3";
}

.jeicon-service:before {
  content: "\e6b0";
}

.jeicon-seal:before {
  content: "\e968";
}

.jeicon-upgrade:before {
  content: "\e967";
}

.jeicon-link:before {
  content: "\e966";
}

.jeicon-eye:before {
  content: "\e965";
}

.jeicon-switch-direction:before {
  content: "\e964";
}

.jeicon-button:before {
  content: "\e963";
}

.jeicon-upload-cloud:before {
  content: "\e962";
}

.jeicon-upload:before {
  content: "\e961";
}

.jeicon-title1:before {
  content: "\e6a2";
}

.jeicon-cylindrical:before {
  content: "\e95b";
}

.jeicon-compact:before {
  content: "\e95a";
}

.jeicon-loose:before {
  content: "\e959";
}

.jeicon-enlarge:before {
  content: "\e695";
}

.jeicon-narrow:before {
  content: "\e696";
}

.jeicon-process:before {
  content: "\e958";
}

.jeicon-packup:before {
  content: "\e957";
}

.jeicon-an:before {
  content: "\e956";
}

.jeicon-plus-circle:before {
  content: "\e952";
}

.jeicon-from:before {
  content: "\e951";
}

.jeicon-broom:before {
  content: "\e950";
}

.jeicon-data:before {
  content: "\e68c";
}

.jeicon-edit:before {
  content: "\e68d";
}

.jeicon-js:before {
  content: "\e681";
}

